*{
  margin: 0;
  padding:0;
 
  

}

header{
    display: flex;
    align-items: center;
    background-color: mediumvioletred;
    height: 8vh;
    justify-content: space-between;
   
}

header img{
    width: 20px;
    padding: 20px;
    


}
header div{
    display: flex;
    align-items: center;
    font:bold;
    font-size: 8px;
}

button{
    height: 15px;
    margin-right: 20px;
    
}
main{
    display: flex;
    height: 84vh;
}

nav{
    background-color:#f2d0e0 ;
    display: flex;
    width: 300px;
    height: 79vh;
    justify-content:space-between;
    padding:15px;
    


    
}


.lista{
    margin: 15px;
    list-style: none;
}
.seta{
    margin:15px;
    list-style: none;
}


img{
    
    width: 20px;
    

}
aside{
    width:784px;
    height: 84vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap:10px;
    column-gap: 10px;

    
   
    
}
aside div{
    border: 1px solid black;
    width: 150px;
    height: 250px;
    
  
}
aside img{
    width: 150px;
}
aside h2{
    font-size: 15px;
}









footer{
    text-align: center;
    height: 8vh;
    background-color: mediumvioletred;
}
footer p {
    padding-top: 15px;
}
